<app-header></app-header>

<div class="container mx-auto p-6">
  <div class="grid gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    <div *ngFor="let theme of themes" class="bg-card rounded-lg shadow-md p-4 border">
      <h2 class="text-xl font-semibold text-gray-800 mb-2">{{ theme.title }}</h2>
      <p class="text-gray-600 mb-4">{{ theme.description }}</p>
      <div class="flex items-center justify-center">

        <button (click)="toggleSubscription(theme.id)"
          [ngClass]="theme.subscribed ? 'bg-red-500 hover:bg-red-600' : 'bg-primary hover:bg-primary-light'"
          class="text-white font-semibold py-2 px-4 rounded transition">
          {{ theme.subscribed ? 'Se désabonner' : 'S\'abonner' }}
        </button>
      </div>
    </div>
  </div>
</div>