<app-header></app-header>

<div class="container p-6">
  <div class="bg-white flex flex-col items-center justify-center p-2">
    <!-- Formulaire d'édition utilisateur -->
    <h1 class=" font-semibold mb-4">Profil utilisateur</h1>
    <form class="flex flex-col items-center justify-center">
      <div class="mb-4">
        <input id="username" [(ngModel)]="user.username" name="username" type="text"
          class="w-full border border-primary focus:border-none rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-primary resize-none" />
      </div>

      <div class="mb-4">
        <input id="email" [(ngModel)]="user.email" name="email" type="email"
          class="w-full border border-primary focus:border-none rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-primary resize-none" />
      </div>

      <button type="button" (click)="saveUserInfo()" mat-raised-button
        class="bg-primary text-white hover:bg-primary-light transition-all duration-1000">
        Sauvegarder
      </button>
    </form>
    <!-- Lien de déconnexion -->

  </div>
  <p (click)="logout()" class="text-red-600 cursor-pointer font-semibold text-center">Se déconnecter</p>

  <!-- Separator -->
  <hr class="my-8 border-black">
  <!-- Liste des thèmes -->
  <h2 class="text-xl font-semibold mb-4 text-center">Abonnements</h2>
  <app-theme-card [themes]="user.themes"></app-theme-card>

  <!-- Modale de succès ou d'erreur -->
  <div *ngIf="message" (click)="closeModal()"
    class="fixed inset-0 bg-gray-500 bg-opacity-50 flex justify-center items-center z-50"
    [ngStyle]="{'overflow': 'auto'}">
    <div (click)="$event.stopPropagation()"
      class="bg-white p-6 rounded-lg shadow-lg max-w-full w-96 sm:w-1/2 md:w-1/3 lg:w-1/4 max-h-[80vh] overflow-auto">
      <h3 class="text-xl font-semibold text-center"
        [ngClass]="{'text-green-600': messageType === 'success', 'text-red-600': messageType === 'error'}">
        {{ message }}
      </h3>
      <div class="flex justify-center mt-4">
        <button (click)="closeModal()" class="bg-primary text-white px-4 py-2 rounded-lg hover:bg-primary-light">
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>