<div class="w-full">
  <div class="flex items-center justify-between p-4">
    <img routerLink="" src="assets/logo_p6.png" alt="Logo" class="h-8 cursor-pointer">
    <nav *ngIf="isLoggedIn()" class="ml-8">
      <ul class="flex space-x-6 items-center justify-center">
        <li>
          <a routerLink="/articles"
            [ngClass]="{'text-primary font-semibold': isActive('/articles'), 'hover:text-primary-light': !isActive('/articles')}"
            class="transition-colors duration-200">
            Articles
          </a>
        </li>
        <li>
          <a routerLink="/themes"
            [ngClass]="{'text-primary font-semibold': isActive('/themes'), 'hover:text-primary-light': !isActive('/themes')}"
            class="transition-colors duration-200">
            Thèmes
          </a>
        </li>
        <li>
          <a routerLink="/profil">
            <div
              [ngClass]="{'ring ring-primary': isActive('/profil'), 'hover:ring hover:ring-primary-light': !isActive('/profil')}"
              class="transition-colors duration-200 rounded-full w-12 h-12 bg-gray-200 p-2 flex items-center justify-center group">
              <i [ngClass]="{'text-primary': isActive('/profil'), 'group-hover:text-primary-light': !isActive('/profil')}"
                class="fa-regular fa-user fa-2x text-gray-500"></i>
            </div>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <hr class="border-b-2">
</div>